<div class="container">
	<div class="row">
		<div class="col-xs-2 col-md-4">
		    <a href="#" class="thumbnail" class="img-responsive">
		    	<%= image_tag("garen1.jpeg", :style => 'border: 3px solid #000')%>
		    </a>
		</div>
		<div class="col-xs-2 col-md-4">
	    	<a href="#" class="thumbnail" class="img-responsive">
				<%= image_tag("simba.jpeg", :style => 'border: 3px solid #000')%>
			</a>
		</div>
		<div class="col-xs-2 col-md-4">
	   		<a href="#" class="thumbnail" class="img-responsive">
	   			<%= image_tag("garen2.jpg", :style => 'border: 3px solid #000')%>
	   		</a>
	   	</div>
	   	<div class="col-xs-2 col-md-4">
	   		<a href="#" class="thumbnail" class="img-responsive">
	   			<%= image_tag("garen4.jpg", :style => 'border: 3px solid #000')%>
	   		</a>
		</div>
		<div class="col-xs-2 col-md-4">
	   		<a href="#" class="thumbnail" class="img-responsive">
	   			<%= image_tag("garen5.jpg", :style => 'border: 3px solid #000')%>
	   		</a>
	   	</div>
	   	<div class="col-xs-2 col-md-4">
	   		<a href="#" class="thumbnail" class="img-responsive">
	   			<%= image_tag("garen3.jpg", :style => 'border: 3px solid #000')%>
	   		</a>
	   	</div>
	  </div>
	</div>
</div>